@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap);
body{
    font-family: 'Lato';
    color: #424551;
}
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
[class*="__container"] {
    max-width: 1310px;
    margin: 0px auto;
    padding: 0px 15px;
}
/* ---------------------------------------------- */
.header {
    padding: 40px 0px 15px 0px;
}
.main {
    padding: 10px 0px 14px 0px;
}
.footer {
    padding: 30px;
}
/* ------------------BEM BLOCKS----------------------- */
.titel {
    font-weight: 900;
    font-size: 46px;
    color: #1E212C;
}
.titel h3{
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.list li{
    background: url(../img/list/check.svg) no-repeat 0px 6px;
    min-height: 22px;
    padding-left: 30px;
    line-height: 130%;
}

.button a{
    color: #fff;
    font-weight: 700;
    display: inline-block;
    padding: 14px 42px;
    background-color: #1234cb;
    border-radius: 4px;
    -webkit-box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 1px rgba(0, 0, 0,0.5);
    letter-spacing: 2px;
    transition: border-radius 0.3s ease 0s;
}
.button a:hover{
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 24px;
}
.button a:active{
	position: relative;
	top: 3px;
	-webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 1px rgba(0, 0, 0,0.5);
}

.button_inherit-color a{
    color: #F75E05;
    background-color: inherit;
    border: 1px solid #FF3F3A;
    padding: 14px 26px;
}
.button_inherit-color a:hover{
    background: inherit;
}

.item {
    display: flex;
    border: 1px solid #E5E8ED;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
    transition: transform 0.5s ease 0s;
}
.item:hover{
    transform: scale(0.95);
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}

.category{
    display: inline-block;
    padding: 2px 8px;
    background-color: #03CEA4;
    border-radius: 4px;
    font-size: 14px;
    line-height: 150%;
    color: #fff;
}
.category_blue{
    background-color: #5A87FC;
}
.category_yellow{
    background-color: #F89828;
}
.category_red{
    background-color: #F52F6E;
}
/* ------------------------------------------------------------- */
/* header */
.header__container {}
.header__titel{
    line-height: 130%;
    max-width: 810px;
}
/* main */
.about-text__container {

}

.about-text__icon {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width: 479.98px) {
    .about-text__icon {
        flex-direction: column;
        row-gap: 10px;
    }
}
.icon-time {
    flex: 1 1 auto;
}

.icon-time__block {
    display: flex;
}

.icon-time-block {
    padding-right: 5px;
    align-items: center;
}
.icon-time-block__text{
    color: #787A80;
}
.icon-time-block__text:not(:last-child){
    margin-right: 25px;
}
/* ------------------------- */
.backg-image{
    background: url(../img/icon/image01.svg) no-repeat 0 center;
    padding-left: 25px;
}
.backg-image_clock{
    background: url(../img/icon/image02.svg) no-repeat 0 center;
}
/* --------------------------- */
.icon-link {
    display: flex;
    align-items: center;
}
.icon-link > a{
    display: inline-block;
    height: 20px;
}
.icon-link >*:not(:last-child){
    margin-right: 12px;
}
.icon-link__text {
    font-weight: 700;
    color: #1E212C;
}
.icon-link__face {
}
.icon-link__tw {
}
.icon-link__linked {
}


.about-text__image {
    max-width: 810px;
    margin-bottom: 60px;
}
.about-text__image img{
    max-width: 100%;
}

.about-text__vulputate {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
    margin-bottom: 25px;
}

.about-text__text p:not(:last-child){
    margin-bottom: 36px;
}
.about-text__text{
    line-height: 160%;
    margin-bottom: 48px;
}

.about-text__subtext {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
    margin-bottom: 48px;
}
.about-text__subtext p{
    background: url(../img/icon/braces.svg) no-repeat 0px 6px;
    padding-left: 58px;
}

.about-text__mauris {
    margin-bottom: 24px;
    line-height: 160%;
}

.about-text__list li:not(:last-child){
    margin-bottom: 4px;
}
/* -------------------------media---------------------------------- */
@media (max-width: 479.98px) {
    .about-text__icon {
        flex-direction: column;
        row-gap: 10px;
    }
    .about-text__icon {
        margin-bottom: 20px;
    }
    .about-text__image {
        margin-bottom: 20px;
    }
    .about-text__vulputate {
        margin-bottom: 15px;
    }
    .about-text__text p:not(:last-child){
        margin-bottom: 16px;
    }
    .about-text__text{
        margin-bottom: 25px;
    }
    .about-text__subtext {
        margin-bottom: 20px;
    }
    .about-text__mauris {
        margin-bottom: 20px;
    }
}
/* ---------------------homwork------------------------------ */
.why-createx {
    padding-bottom: 90px;
}
.why-createx__container {
    display: flex;
}

.why-createx__img {
    flex: 0 1 60%;
    padding-right: 10px;
}
.why-createx__img img{
    max-width: 100%;
}

.why-createx__description {
    flex: 0 1 40%;
}
.description-block {

}

.description-block__titel {
    margin-bottom: 40px;
}


.description-block__list{
    max-width: 390px;
}
.description-block__list:not(:last-child){
    margin-bottom: 22px;
}
.description-block__list li:not(:last-child){
    margin-bottom: 12px;
}

.description-block__link a{
    padding: 14px 16px;
}
/* -------------------------media why-createx---------------------------------- */
@media (max-width:767.98px) {
    .why-createx__container {
        flex-direction: column;
        row-gap: 30px;
    }
    .description-block__titel {
        margin-bottom: 20px;
    }
    .why-createx {
        padding-bottom: 30px;
    }
}
@media (max-width: 479.98px) {
    .titel {
        font-size: 36px;
    }
    .header {
        padding: 20px 0px 10px 0px;
    }
    .why-createx__container {
        row-gap: 20px;
    }
}
/* ---------------------------Featured Courses------------------------------ */
.featured-courses {
    padding: 90px 0;
}
.featured-courses__container {
    padding-right: 65px;
}
.courses-tabel {
}
.courses-tabel__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
.courses-tabel__titel {
}

.courses-tabel__link {
}

.courses-tabel__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.items-tabel-courses__item {

}

.item__img {
    flex: 0 0 214px;
}
.item__img img{
    max-width: 100%;
    border-radius: 4px 0px 0px 4px;
}
/* ------------------text-------------- */
.item-text{
    padding: 26px;
}
.item-text__category {
    margin-bottom: 20px;
}
.item-text__cours {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 20px;
}
.item-text__about {
    display: flex;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
}
/* ----------don't use------------- */
.about-item-text {
}
/* -------------------------------- */
.about-item-text__cost {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #FF4242;
}
.about-item-text__teacher {
    font-size: 18px;
    color: #787A80;
    border-left: 1px solid #787A80;
    padding-left: 3px;
}
/* --------------------------Featured Courses media--------------------------------- */
@media (max-width: 1092px) {
    .courses-tabel__items {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}
@media (max-width: 767.98px) {
    .courses-tabel__header {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    .featured-courses__container {
        padding-right: 15px;
    }
    .featured-courses {
        padding: 30px 0;
    }
    .courses-tabel__header {
        margin-bottom: 30px;
    }
}
@media (max-width: 530px) {
    .item {
        flex-direction: column;
    }
    .item__img {
        text-align: center;
    }
}
/* ------------------------------how--------------------------- */
.how {
    padding: 90px 0;
}
.how__container {
}

.how__titel {
    text-align: center;
    margin-bottom: 60px;
}

.how__list {
    display: flex;
    margin-bottom: 60px;
}
.how__list li{
    padding: 10px 72px;
    font-weight: 700;
    line-height: 160%;
    color: #9A9CA5;
    text-align: center;
}
.how__list li:first-child{
    color: #FF3F3A;
    border: 1px solid #FF3F3A;
    border-radius: 4px;
}

.how__practic {
    display: flex;
}
.practic {
}
.practic__body {
    flex: 0 1 50%;
}
.practic__titel {
    font-weight: 900;
    font-size: 32px;
    line-height: 130%;
    color: #1E212C;
    margin-bottom: 20px;
}
.practic__text {
    line-height: 160%;
    color: #424551;
    max-width: 490px;
}
.practic__img {
    flex: 0 1 50%;
}
.practic__img img{
    max-width: 100%;
}
/* ----------------------------------------------------------- */
@media (max-width: 1120px) {
    .how__list {
        flex-direction: column;
        row-gap: 10px;
    }
}
    @media (max-width: 1092px) {
    .how__practic {
        flex-direction: column;
        row-gap: 20px;
    }
    .practic__body {
        flex: 1 1 100%;
    }
    .practic__img {
        flex: 1 1 100%;
        text-align: center;
    }
    .practic__text {
        max-width: none;
    }
}
@media (max-width: 767.98px) {
    .how {
        padding: 30px 0;
    }
    .how__list {
        display: flex;
        margin-bottom: 20px;
    }
}
/* ----------------------------------------------------------- */
.footer__container {}

.footer__text{
    line-height: 160%;
    margin-bottom: 20px;
}
@media (max-width: 479.98px) {
    .footer__text:not(:last-child) {
        margin-bottom: 15px;
    }
}
.footer__link {
    display: flex;
}
/* ------------------------------------- */


