body{
    color: #cd7d32;
    background-color: #cd7d321e;
    font-size: 20px;
}
/* ------------------------------------------------------------- */
[class*="__container"] {
    max-width: 1000px;
    margin: 0px auto;
}
/* ---------------------------------- */
.about-main__text p{
    font-size: 18px;
    color: #008000;
}
.about-main__text_color p{
    color: #530080;
}
/* ------------------------------------- */
.about-main__text span{
    color: #000;
    text-transform: uppercase;
}
.footer__text a{
    font-size: 25px;
}