@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap);
body{
    font-family: 'Lato';
    color: #424551;
}
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
[class*="__container"] {
    max-width: 1260px;
    margin: 0px auto;
    padding: 0px 15px;
}
/* ----------------------------------------- */
.block-text {
    max-width: 600px;
    line-height: 160%;
    color: #424551;
}
.titel {
    font-weight: 900;
    font-size: 46px;
    color: #1E212C;
}
/* main */
.page {
    padding: 50px 0px;
}

.about {}

.about__container {
    padding-bottom: 20px;
}

.about__titel {
    margin-bottom: 40px;
}


.about__text {
    margin-bottom: 48px;
}


.about__sub-titel {
    font-size: 28px;
    color: #1E212C;
    margin-bottom: 24px;
}

.about__list li {
    line-height: 160%;

}
.about__list li:not(:last-child){
    margin-bottom: 4px;
}
.about__list li::before {
    background: url(../img/icon/check.svg) 0 0px no-repeat;
    content: '';
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 10px;
    transition: all 1.2s ease 0s;
}
ul li:hover::before {
    transform: scale(1.5) rotate(-360deg);
}

.cody {
    padding: 20px 0px 0px 0px;
}

.cody__container {
}

.cody__category {
    color: #1E212C;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.cody__titel {
    font-weight: 900;
    font-size: 46px;
    margin-bottom: 16px;
}

.cody__sub-titel {
    font-size: 20px;
    line-height: 150%;
    color: #787A80;
    margin-bottom: 32px;
}

.cody__list{
    margin-bottom: 32px;
}
.cody__list li {
    line-height: 160%;
}
.cody__list li:not(:last-child) {
    margin-bottom: 4px;
}
.cody__list li:first-child:before {
    background: url(../img/icon/star.svg) 0 0px no-repeat;
    content: '';
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 10px;
    transition: all 1.2s ease 0s;
}
.cody__list li:nth-child(2):before {
    background: url(../img/icon/play.svg) 0 0px no-repeat;
    content: '';
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 10px;
    transition: all 1.2s ease 0s;
}
.cody__list li:nth-child(3):before {
    background: url(../img/icon/profile.svg) 0 0px no-repeat;
    content: '';
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 10px;
    transition: all 1.2s ease 0s;
}
.cody__text {
    line-height: 160%;
}

/* -------------------------------------------- */
.pract {
    padding: 30px 0;
}

.pract__container {}
.pract__container:hover .pract__list{
    visibility: visible;
    opacity: 1;
}

.pract__list{
    opacity: 0;
    visibility: hidden;
}
.pract__list li:first-child {
    color: rgb(255, 0, 0);
}
.pract__list li:last-child {
    color: #22840d;
}
.pract__list li:nth-child(2) {
    color: #00d5ff;
}
.pract__list li:hover:nth-child(3){
    color: #1500ff;
    font-weight: 900;
}
.pract__list li:not(:last-child) {
    margin-bottom: 10px;
}
.pract__list a:visited {
    color: rgb(102, 51, 153);
}
/* --------------------------------- */